{% if government_banner %}
  {% block government_banner %}
    <section class="usa-banner" aria-label="Official website of the United States government">
      {{ government_banner }}
    </section>
  {% endblock %}
{% endif %}
