@use 'uswds' as *;
@use 'nbw-custom-mixins' as *;
@use 'nbw-custom-definitions' as *;

.goal-achieved-text {
  text-transform: uppercase;
  color: color('black');
  font-size: .8rem;
  font-weight: font-weight('bold');
}

.goal-achieved {
  display: inline-block;
}

.goal-achieved {
  font-weight: font-weight('medium');
  font-size: 1rem;
}

html#printpdf {
  margin: 2rem;
}

.print-to-pdf {
  // sass-lint:disable-block no-important
  width: 100% !important;
  margin: 0; 

  .site-logo,
  .block-system-main-block {
    margin: 0;
  }

  .header-logo-wrapper {
    margin-bottom: 2rem;
  }

  .content-wrapper {
    & > div:not(:first-child) {
      margin-top: 2rem;
    }
  }

  .image-group {
    .multiple {
      display: flex;
    }
    img {
      height: initial;
    }
  }

  .header-project-name {
    text-align: center;
  }

  .header-logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .partner-logo {
    width: 200px;

    img {
      height: initial;
    }
  }

  .side-bar {
    div {
      .title,
      h3 {
        @include nbw-h3;
      }

      .title,
      h3,
      p {
        margin: 0;
      }
    }
  }

  .side-bar:not(.side-bar-flex) {
    .field__items > div {
      margin-bottom: 2rem;
    }
  }

  .side-bar-flex {
    .field__items {
      display: flex;
      justify-content: space-around;

      div {
        flex-grow: 1;
        flex-basis: 0%;
      }
    }
  }

  .toggle {
    display: none;
  }

  .views-element-container {
    width: 100% !important;
    margin: 2rem 0 0 0;
  }

  .keep-together,
  .pdf-group,
  table,
  div.field {
    page-break-inside: avoid;
  }

  .break-before {
    page-break-before: always;
  }

  .break-after {
    page-break-after: always;
  }

  p,
  li,
  ul {
    page-break-after: auto;
    page-break-before: avoid;
    page-break-inside: avoid;
  }

  h3 {
    page-break-after: avoid;
    page-break-before: auto;
    page-break-inside: avoid;
  }

  .block-views-blockshowcase-charts-list-block-1 {
    div.views-element-container {
      page-break-inside: avoid;
      page-break-after: auto;
      page-break-before: auto;
    }
  }
}

.print-button {
  img:hover {
    cursor: pointer;
  }
}

.list-pill-row {
  &.pill {
    color: color('primary');
    background-color: color('base');
    border-radius: 4rem;
    font-size: 1rem;
    padding: .125rem .75rem;
    text-transform: uppercase;
  }

  &.content {
    margin: 0 0 1rem;
  }

  &.title {
    color: color('primary');
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0 .75rem;
  }

  &.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 1rem;
    margin: 0 0 1.5rem;
  }

  &.button {
    img {
      width: 3rem;
      height: 3rem;
      border: 1px solid color('primary');
      border-radius: 50%;
      background-color: color('white');

      &:hover {
        background-color: color('primary-lighter');
      }
    }
  }

  &.button-wrapper{
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }
}

.block-views-blockrelated-content-primary-block {
  .gradient-header {
    > .row:not(:last-child) {
      .list-pill-row.wrapper {
        border-bottom: 1px solid color('base-dark');
      }
    }
  }
}